{% comment %}
<!--
  Available Jobs Layout

  This partial is for the available jobs layout that is currently being used in
  the jobs page.  It can easily be included in other layouts and pages if a
  similar layout is needed elsewhere in the site.

-->
{% endcomment %}

{% assign jobs = site.data.miscellaneous-content.jobs %}

{% assign avail-jobs = site.jobs %}

<section class="section bg-white">
  <div class="container">
    <div class="row">
      <div class="col-md-8 ">
      
      
     
      

      {% for opening in avail-jobs %}
        
          <h2 class="pad-top20 pad-bot0">
          <a href="{{ opening.permalink }}">{{ opening.avail-title }}</a> <br/><small>{{ opening.avail-subtitle }}</small>
          </h2>
          
          
          {% if opening.avail-desc %}
            {{ opening.avail-desc }}
          {% else %}
            {{ opening.content }}
          {% endif %}

          {% if opening.avail-more-info-link %}
          <a href="{{ site.baseurl }}/jobs{{ opening.avail-more-info-link }}">{{ opening.avail-more-info-link-text }}</a>
          {% endif %}
        

      {% endfor %}
      
      <h3 class="pad-top20">Are there any other potential future openings?</h3>
      <p>In general, we always want to meet people who think they'd fit well here. It's nice to build some rapport even if we're not hiring immediately. If you think you might like to work here one day, send a quick "hello" to <a href="mailto:careers@pocketworks.co.uk">careers@pocketworks.co.uk</a> and tell us about yourself.<p>

      <ul>
      <li>iOS Developers</li>
      <li>Android Developers</li>
      <li>Ruby on Rails Developers</li>
      <li>ReactJS Developers</li>
      <li>Elixir Web Developers</li>
      <li>Elixir IoT Developers</li>
      <li>Designers (UX, Research, Visuals)</li>
      <li>Scrum Masters</li>
      <li>Product Owners</li>      
      </ul>

      </div>
      <div class="col-md-4 pad-top40">
       
       <i/>{{jobs.available.description}}</i>
      </div>
    </div>
  </div>
</section>