<div class='col-xs-12 col-sm-6 col-md-{% if include.item.cols %}{{ include.item.cols }}{% else %}4{% endif %} card'>
  <div class="col-xs-12 surround{% if include.item.theme %} {{ include.item.theme }}{% endif %}">

    <div class="row brand">
      {%if include.item.logo-image %}
      <img alt="{{ include.item.client }}-logo" style="height: 40px;" src="https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_h=40&refresh=2592001&url=https://pocketworks-website.s3.amazonaws.com/{{ include.item.logo-image }}" />
      {%else%}
      <img alt="{{ include.item.client }}-logo" style="height: 40px;" src="https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_h=40&refresh=2592001&url=https://pocketworks-website.s3.amazonaws.com/pocketworks-logo-40px.png" />
      {%endif%}
    </div>

    <div class="row top">
      {%if include.item.image contains "opensocial" %}
      <a href="{{ include.item.url prepend: site.baseurl }}"><img src="{{ include.item.image }}" class="img-responsive" alt="case study picture" /></a>
      {% else %}
      <a href="{{ include.item.url prepend: site.baseurl }}"><img src="https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=400&refresh=2592000&url=https://pocketworks-website.s3.amazonaws.com/{{ include.item.image }}" class="img-responsive" alt="case study picture" /></a>
      {%endif%}
    </div>
    <div class="row content">
      <div class="subtitle">
        <h3>
          {% if include.item.client %}{{ include.item.client }}{% else %} Client Goes Here {% endif %}
        </h3>
        <span>{{ include.item.meta-post-type }}</span>

      </div>
      <p>
        {{ include.item.title }}
      <a href="{{ include.item.url prepend: site.baseurl }}">Learn more...</a>
    </p>
    </div>
  </div>
</div>
