<section class="featured section bg-orange pad-top0 orange-home-hero" style="min-height: 800px; background-image: url(https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1400&refresh=2592001&url=https://pocketworks-website.s3.amazonaws.com/{{ page.advice.bg-img }}); background-position: 0%; background-size: cover; background-repeat: no-repeat">
  <div class="container">
      <div class="row mar-bot40">
        <div class="col-md-6">
          <h1 class="color-white">
            Confidently <br/>innovate with<br/> <span class="color-orange">mobile technology</span>
            <!-- Our mission is to create the best possible product for our clients so that they can achieve success.
            The idea is that this leads to growth, and further investment -->
            <!-- If you're an innovator struggling to apply mobile technology to engage audiences and drive growth, <span class="color-orange">we can help</span>.-->
          </h1>

          <p>If you see an opportunity to use mobile to support your business growth,
            we help you <a href="/our_work">execute your vision successfully</a> using mobile and cloud technologies. </p>
          <p>You don't need technical experience to work with us. You may even appreciate our unique <a href="/apps-for-startups">route to market</a> that reduces your upfront investment and increases your chances of long-term success.</p>
          <p>Simply get in touch if you'd like to hear more:</p>


          <div class="row pad-top40 pad-bot40">
              <div class="col-sm-6 align-center">
                  <span class="glyphicon glyphicon-phone-alt"></span>
                  <br><span style=""><b><a href="tel:0113 400 1454">0113 400 1454</a></b></span>
                  <br><a href="mailto:hello@pocketworks.co.uk">hello@pocketworks.co.uk</a>
              </div>




              <div class="col-sm-6 align-center">
                  <span class="glyphicon glyphicon-map-marker"></span>
                  <br><b>Leeds, West Yorkshire, UK</b>
                  <br><a href="/contact">Driving directions</a>
              </div>


          </div>

        </div>

        <div class="col-md-5 col-md-offset-1">
          <p class="color-white-ish" style="font-weight: bold; padding-left: 40px;">We're currently working with:</p>
          <ul>
            <li>An international barrier manufacturer looking to revolutionise warehouse safety</li>
            <li>A national taxi startup wanting to turn local knowledge into customer loyalty</li>
            <li class="hidden">A global pharmaceutical company desiring increased salesforce efficiency</li>
            <li>A smart energy company striving to bring cost transparency to consumers</li>
            <li>A sports equipment manufacturer aiming to improve in-game decision making</li>
            <li>A retail loyalty startup wanting to innovate customer retention with mobile</li>
            <li>A startup desiring to improve business relationships through qualitative insights</li>
          </ul>
        </div>

          <!-- <div class="col-md col-md-8 col-md-offset-2 col-xs-12 align-center">

                  <h1 class="slogan color-white" style="line-height: 1.4em">Launch successful mobile products</h1>

          </div> -->

      </div>

  </div>
</section>
