{% comment %}
<!--
  Orange Hero

  This partial is for the orange hero space that is currently being used in the
  expertise page.  It can easily be included in other layouts and pages if a
  oragne hero space is needed elsewhere in the site.

-->
{% endcomment %}

<section class="featured section" style="height: 600px; background-image: url(https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1400&refresh=2592003&url=https://pocketworks-website.s3.amazonaws.com/{{
include.hero_img }}); background-position: 0%; background-size: cover; background-repeat: no-repeat">
    <div class="container">
        <div class="row mar-bot10">
        
            <!-- <div class="col-md-8 col-md-offset-2 align-center">
                <h1 class="slogan color-white">{{ page.hero-title }}</h1>
                <p>{{ page.hero-desc }}</p>
            </div> -->
        </div>
    </div>
</section>
