<section class="featured section bg-orange pad-top0" style="height: 1000px; background-image: url(https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1400&refresh=2592000&url=https://pocketworks-website.s3.amazonaws.com/{{ page.advice.bg-img }}); background-position: 0%; background-size: cover; background-repeat: no-repeat">
  <div class="container">
      <div class="row mar-bot40">
        <div class="col-md-6">
          <h1 class="color-white" style="font-size: 2.5em;">If you're an innovator struggling to apply mobile technology to engage audiences and drive growth, we can help. </h1>
        </div>

        <div class="col-md-5 col-md-offset-1">
          <p class="color-white-ish" style="font-weight: bold">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;We're currently working with:</p>
          <ul>
            <li>A warehouse barrier manufacture looking to become a digital innovator</li>
            <li>A national taxi startup wanting to exploit their local advantage</li>
            <li>A global pharmaceutical company looking to increase salesforce efficiency</li>
            <li>A SmartMeter company looking to reduce energy costs with mobile apps and IoT</li>

          </ul>
        </div>

          <!-- <div class="col-md col-md-8 col-md-offset-2 col-xs-12 align-center">

                  <h1 class="slogan color-white" style="line-height: 1.4em">Launch successful mobile products</h1>

          </div> -->

      </div>
      <div class="row pad-top40">
          <div class="col-sm-offset-2 col-sm-4 align-center">
              <span class="glyphicon glyphicon-phone-alt"></span>
              <br><span style=""><b><a href="tel:0113 400 1454">0113 400 1454</a></b></span>
              <br><a href="mailto:hello@pocketworks.co.uk">hello@pocketworks.co.uk</a>
          </div>




          <div class="col-sm-4 align-center">
              <span class="glyphicon glyphicon-map-marker"></span>
              <br><b>Leeds City Centre, UK</b>
              <br><a href="/contact">Driving directions</a>
          </div>


      </div>
  </div>
</section>
