{% comment %}
<!--
  Why Work With Us Section

  This partial is for the why work for us section that appears on
  the about page.  The data for this section is coming from the
  _meta-why-work-for-us collection.

-->
{% endcomment %}

{% assign values = site.meta-why-work-with-us %}

{% assign header = site.data.miscellaneous-content.about %}

<section class="section clearfix">
  <div class="container">
    <div class="col-md-10 col-md-offset-1 align-left">
      <h2>Most businesses struggle to use mobile to achieve real business growth.</h2>
      <p>We help you take execute your ideas quickly in a way that reduces up front investment and helps you learn from feedback and data to create something that truly works.</p>
      <h3>Do these questions sound familiar?</h3>
      <ul>
        <li>How can I be confident that my target audience will use my app?</li>
        <li>Are there any ways to reduce the initial costs and risks?</li>
        <li>What platforms should we be launching on?</li>
        <li>What about web, IoT and chatbots? Should I be thinking about those?</li>
        <li>How do we best use today's tech to achieve our mission?</li>
      </ul>
      <h3>Understanding what's involved</h3>
      <p>
        Businesses adopting mobile want to see their ideas come to life and start reaping the rewards.
        But the large financial committments and long timescales can make such ventures risky.
        In the last 5 years, we've helped dozens of startups and industry leaders launch mobile ventures in a way that is financially comfortable and low risk.
        We do this by encouraging them to spend less up front, and learn from what works.
        The valuable data received during this process helps them spot the assumptions that weren't right, and correct them so that the product resonates with customers.
      </p>
    </div>
  </div>
</section>

<section class="section clearfix bg-white align-center">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-1 col-md-5">
        <img src="https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_h=60&refresh=2592000&url=https://pocketworks-website.s3.amazonaws.com/icon-mobile.png" alt="Mobile Icon">
        <br/>
        <h2>Mobile first</h2>
        <p>
        Launching a mobile app demands a unique skillset; broad digital strategy, research, product design, app development, integration, web and cloud development, testing and ongoing management. We provide everything needed to launch compelling mobile apps and cloud based experiences where mobile is critical.
        </p>
      </div>
      <div class="col-md-5 ">
        <img src="https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_h=60&refresh=2592000&url=https://pocketworks-website.s3.amazonaws.com/icon-invest.png" alt="Invest Icon">
        <br/>
        <h2>Invest on your terms</h2>
        <p>
        We help you find ways to innovate at a rate that works for you. The worlds most successful products are evolved, not just built in one giant leap. Our billing and planning processes are designed specifically for this model, so you won't be asked for huge up front fees or high-risk support contracts.
        </p>
      </div>
    </div>
    <div class="row">
    <div class="col-md-offset-1 col-md-5 pad-top40">
      <img src="https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_h=60&refresh=2592000&url=https://pocketworks-website.s3.amazonaws.com/icon-unlocked.png" alt="Unlocked Icon">
      <br/>
      <h2>Zero lock-in</h2>
      <p>
      You might have plans to sell your business, or build your own software team one day. Until then, we can look after all aspects of building, managing and maintaining your software product for whatever duration suits you. We understand that you'll need to own the copyright of what we create for you, so our contracts have that as standard.
      </p>
    </div>
    <div class="col-md-5 pad-top40">
      <img src="https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_h=60&refresh=2592000&url=https://pocketworks-website.s3.amazonaws.com/icon-quality.png" alt="Quality Icon">
      <br/>
      <h2>Serious about quality</h2>
      <p>
      Customers expect your digital products to be usable, reliable and always-on. It’s embarassing when technology fails, customers complain and ultimately you lose money and repuation.  Our dedicated ISTQB qualified software testers ensure high quality software. Our maintenance team will keep your product up and running 24/7/365. 
      </p>
    </div>
  </div>
  </div>
</section>
