{% comment %}
<!--
  Why Work With Us Section

  This partial is for the why work for us section that appears on
  the about page.  The data for this section is coming from the
  _meta-why-work-for-us collection.

-->
{% endcomment %}

{% assign values = site.meta-why-work-with-us %}

{% assign header = site.data.miscellaneous-content.about %}

<section class="section clearfix">
  <div class="container">
    <div class="col-md-8 col-md-offset-2 align-center">
      <h2>Since 2012, we've helped Yorkshire and UK businesses achieve genuine competitive advantages from mobile technology</h2>
      <p>
      Our clients hire us because they need mobile apps to grow their businesses.
    Seeking long-term win-win relationships, we enable companies to make software integral to their products and services. We reduce the risk by offering flexible payment models and zero lock in.
      </p>
    </div>
  </div>
</section>

<section class="section clearfix bg-white align-center">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-1 col-md-5">
        <h2>A mobile first team</h2>
        <p>
        Launching a mobile app demands a unique skillset. We're totally geared up for mobile-first projects. Strategy, research, product design, mobile app development, API's, web and cloud development, testing and ongoing management. Everything needed to launch compelling digital experiences where mobile is critical.
        </p>
      </div>
      <div class="col-md-5 ">
        <h2>Invest at your own pace</h2>
        <p>
        The worlds most successful products are evolved, not just built in one giant leap. You'll need a team who favour incremental, sustainable spending rather than asking for a “big-bang” spend. We help you innovate at a sustainable pace, investing at a rate that works for you. No need for large up-front investment to take your ideas to market. 
        </p>
      </div>
    </div>
    <div class="row">
    <div class="col-md-offset-1 col-md-5 ">
      <h2>Your Intellectual Property</h2>
      <p>
      We won't lock you in. You might want to build your own software team one day. Until then, we’ll look after all aspects of building, managing and maintaining your software product for whatever duration suits you. Your going to need to own the Intellectual Property of what we make for you, so our contracts have that as standard.
      </p>
    </div>
    <div class="col-md-5 ">
      <h2>Serious about quality</h2>
      <p>
      It’s embarassing when technology fails, customers complain and ultimately you lose money and repuation. Customers expect your digital products to be usable, reliable and always-on. Our dedicated ISTQB qualified software testers ensure high quality software. Our maintenance team will keep your product up and running 24/7/365. 
      </p>
    </div>
  </div>
  </div>
</section>
