---
layout: default
---

{% include orange-home-hero.html hero_img=page.hero-img %}


{% comment %}<!-- Get Telephone & Email information from global contact info -->{% endcomment %}
{% assign contact_info = site.data.contact-information.contact-info.location.data %}
{% assign tele = "" %}
{% assign email = "" %}

{% for item in contact_info %}
  {% if item.label == "Email" %}
    {% assign email = item.value %}
  {% endif %}
{% endfor %}

<section class=" section bg-black pad-top0 pad-bot40" style="background-image: url(https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&refresh=2592001&url=https://pocketworks-website.s3.amazonaws.com/nest-banner-bg.jpg); background-position: 0%; background-size: cover; background-repeat: no-repeat">
    <div class="container">
        <div class="row">
          <div class="col-md-4 col-md-offset-8">
            <h2 class="color-white">Energenie &amp; Nest<br/><small>2016</small></h2>

            <p class="color-white">Sandal PLC entered into a new marketplace with a mobile app capable of attracting consumers to their Energenie Mi|Home smarthome products.
              Over the following years, they refined and improved their app; introducing Nest integration and allowing consumers to control their homes in more sophisticated ways.</p>
            <p><a href="/case-study/connecting-energenie-smarthome-to-nest-thermostats/">Read the case study</a></p>
          </div>
        </div>
    </div>
</section>





<section class="section">
    <div class="container">

      <div class="row pad-bot20">
        <div class="col-md-8 col-md-offset-2 align-center">
          <h2>How we can help you</h2>
        </div>
      </div>

      <!-- row -->
      <div class="row">

        <div class="col-md-3 align-center">
          <h3>Preparation</h3>
          <p>No need to write a 100 page brief. We invite you to work face to face, asking key questions to capture an essential vision of what success looks like to you.</p>
        </div>

        <div class="col-md-3 align-center">
          <h3>Prototyping</h3>
          <p>Avoid spending £50K on an app upfront. Use our <a href="/apps-for-startups">design and prototyping service</a> to visualise your ideas and test that they really work. All at a fraction of the cost.</p>
        </div>

        <div class="col-md-3 align-center">
          <h3>Delivery</h3>
          <p>Simplicity and reliability keep web and app customers coming back to your solution. Our <a href="/about">UK app development team</a> strive to achieve this in a fast and pragmatic way. </p>
        </div>

        <div class="col-md-3 align-center">
          <h3>Support</h3>
          <p>We offer various support options, including 24/7/365 support for mission critical apps. Once you're app is launched, we'll work with you to keep improving it.</p>
        </div>

      </div>

      <!-- row -->
      <div class="row">
        <div class="coll-md-12 align-center">
          <p>
            <br/>
            <a href="/contact" class="btn btn-border">Arrange a call or meeting to discuss your needs</a>
          </p>
        </div>
      </div>

    <!-- end container -->
    </div>
</section>

<section class="section bg-black pad-top0 pad-bot40" style="background-image: url(https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&width=1202&refresh=2592001&url=https://pocketworks-website.s3.amazonaws.com/amber-banner.jpg); background-position: 0%; background-size: cover; background-repeat: no-repeat">
    <div class="container">
        <div class="row">
          <div class="col-md-4 col-md-offset-8">
            <h2 class="color-white">Amber Cars<br/><small>2012 - ongoing</small></h2>

            <p class="color-white">Amber Cars increased automated bookings by 35% over 3 years, which in turn reduced their operating costs and
              allowed for a much higher capacity of bookings. After selling to Veezu in 2016, their mobile solution is used in several UK cities and transacts over £30M each year. </p>
            <p><a href="/portfolio/amber-taxi-booking-app/">Read the case study</a></p>
          </div>
        </div>
    </div>
</section>

<section class="section bg-white" >
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="align-center">
            <p class="lead">{{ page.quote.blurb }}<br/><small>{{ page.quote.author }}</small></p>
        </div>
    </div>
    </div>
  </div>
</section>


<section class="section" >
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <p>
        <img src="https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&refresh=2592001&url=https://pocketworks-website.s3.amazonaws.com/expertise.png" alt="Mobile Apps, Cloud, IoT, Data, Wearables" class="img-responsive" />
      </p>
      </div>
      <div class="col-md-8 col-sm-8">
        <h2>Combine your business expertise with our design and technology experience</h2>
        <p>
        When working with Pocketworks, you provide the business expertise and then rely on us for software expertise.
        We'll recommend relevant technologies and project management strategies to create a compelling digital product.
        In just 4 years we've launched over a dozen successful products that have facilitated over £44M in revenue and cost savings to our clients.
        Each of our products starts with an idea. We then follow a series of steps to safely grow that idea into a successful product, applying best-fit modern technologies.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="coll-md-8 col-sm-8 col-md-offset-4">
        <p>

          <a href="/contact" class="btn btn-border">Arrange a call or meeting, and see if we can help</a>
        </p>
      </div>
    </div>
  </div>
</section>


<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="align-center">

                  {% if page.content contains '<!--more-->' %}
                    {{ page.content | split:'<!--more-->' | first | replace: 'global_email', email | markdownify }}
                  {% else %}
                    {{ content | replace: 'global_email', email | markdownify }}
                  {% endif %}

                </div>
            </div>
        </div>
    </div>
</section>

<div class="col-md-8 col-md-offset-2 hidden">
  <h2>Mobile success means launching apps that truly engage customers whilst seizing opportunities for business growth.</h2>
  <p>
  Whether you&rsquo;re an ambitious startup or established industry leader, we&rsquo;re here to turn vision into results. Our creative team deeply understand how to launch mobile products that work. As experienced advisors and doers, we draw on experience beyond mobile; covering the cloud, data and web.
  </p>
  <p>
    <br/>
    <a href="/contact" class="btn btn-border">Start your project</a>
  </p>
</div>

{% include clients.html %}

<section class="section">
    <div class="container">
    <div class="row">
      <div class="col-md-12 align-center">
        <h2>A comprehensive service</h2>
      </div>
    </div>
        <div class="row align-left">
          <div class="col-md-4">
           <h3 style="text-align: center">Strategy</h3>
            <ul class="">
              <li>Problem Analysis</li>
              <li>Solution Planning</li>
              <li>Budgeting</li>
              <li>Attending Stakeholder Meetings</li>
              <li>Product Roadmap Creation</li>
              <li>Mobile Payments</li>
              <li>Push Messaging</li>
              <li>Web vs Native</li>
              <li>Code Reviews</li>
              <li>Analytics &amp; KPI's</li>
            </ul>
          </div>
          <div class="col-md-4">
          <h3 style="text-align: center">Design &amp; Technnology</h3>
            <ul class="">
            <li>User Testing and User Research</li>
            <li>Mobile App Design / Web design</li>
            <li>iOS and Android App Development</li>
            <li>Cloud and Web Development</li>
            <li>Low Cost Prototyping</li>
            <li>Lean Product Management</li>
            <li>Integrating 3rd Party Systems</li>
            <li>Data Storage and Reports</li>
            <li>Internet of Things (IoT) Gateway Development</li>
            </ul>
          </div>

          <div class="col-md-4">
          <h3 style="text-align: center">Support &amp; Management</h3>
            <ul>
            <li>Tailored Maintenance Packages</li>
            <li>Preemptive App Updates</li>
            <li>Server Uptime Monitoring</li>
            <li>Server Maintenance and Hosting</li>
            <li>Scaling Your Solution As It Grows</li>
            <li>Push Notifications Servers</li>
            <li>A/B Testing</li>
            <li>ISTQB Level Software Testing</li>
            <li>Test Case Authoring</li>
            <li>Weekly Progress Reports</li>
            </ul>
          </div>
        </div>
    </div>
</section>

<section class="section bg-white align-center">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h2>For startups and industry trailblazers</h2>
          <p>
          If you're an ambitious startups or established industry leaders, we can help you transform their ideas into successful digital products. Our services enable you take ideas from prototype to production, and everything in-between.
          </p>
          <p>
            <br/>
            <a href="/apps-for-startups" class="btn btn-border">Services for Startups</a>
            <a href="/enterprise-mobile-app-development" class="btn btn-border">Services for Industry Leaders</a>&nbsp;
            <a href="/iot" class="btn btn-border">Services for IoT Ventures</a>

          </p>
        </div>
    </div>
  </div>
</section>

<section class="section bg-white" >
    <div class="container">
        <div class="row">


        <div class="col-md-4">
          <blockquote>There are so many emerging technologies that a company could be using for digital transformation.
            We're here to help our clients marry ideas with technology. To help them create something unique and compelling that will change their industry.</blockquote>
          <p>Tobin Harris<br/>Founder &amp; CTO, Pocketworks</p>
        </div>

        {% assign post = site.posts | where:"url", "/case-study/reducing-queues-at-hotel-reception-desks/"  | first %}
        {% assign post.cols = 6 %}
        {% include grid-card.html item=post %}

        {% assign post = site.posts | where:"url", "/case-study/helping-dental-students-learn-on-the-move/"  | first %}
        {% assign post.cols = 5 %}
        {% include grid-card.html item=post %}



        </div>
      </div>
</section>





<!-- include grid-section.html view_all="true" top_padding="true" bg_white="true" -->






<section class="section bg-black pad-top0 hidden" style="height: 500px; background-image: url(https://pocketworks-website.s3.amazonaws.com/{{ page.advice.bg-img }}); background-position: 0%; background-size: 100%; background-repeat: no-repeat">
  <div class="container">
    <div class="row">
      <div class='col-xs-12 col-sm-6 col-sm-offset-6 card' style="min-height:300px">
        <div class="col-xs-12 surround" style="min-height:320px">
          <div class="row content">
            <br/>
            <h3>{{ page.advice.header }}</h3>
            <h2><a href="{{ page.advice.url | prepend: site.baseurl }}">{{ page.advice.sub-header }}</a></h2>
            <p>{{ page.advice.desc }}</p>

            <a href="{{ page.advice.url | prepend: site.baseurl }}" class="btn btn-border">{{ page.advice.link-text }}</a>
            <br/><br/>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<!-- pocket insights section -->
<section id="" class="section clearfix">
<div class="container">
  <div class="row mar-bot40">

    {% if page.content contains '<!--more-->' %}
      {{ page.content | split:'<!--more-->' | last | replace: 'global_email', email | markdownify }}
    {% else %}
      {{ content | replace: 'global_email', email | markdownify }}
    {% endif %}

  </div>
</div>
</section>
