---
layout: default
---

{% include orange-home-hero.html hero_img=page.hero-img %}


{% comment %}<!-- Get Telephone & Email information from global contact info -->{% endcomment %}
{% assign contact_info = site.data.contact-information.contact-info.location.data %}
{% assign tele = "" %}
{% assign email = "" %}

{% for item in contact_info %}
  {% if item.label == "Email" %}
    {% assign email = item.value %}
  {% endif %}
{% endfor %}

<section class=" section bg-black pad-top0 pad-bot40" style="background-image: url(https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&url=https://pocketworks-website.s3.amazonaws.com/nest-banner-bg.jpg); background-position: 0%; background-size: cover; background-repeat: no-repeat">
    <div class="container">
        <div class="row">
          <div class="col-md-4 col-md-offset-8">
            <h2 class="color-white">Energenie &amp; Nest<br/><small>2016</small></h2>

            <p class="color-white">Sandal PLC asked us to design a mobile app to attract consumers to their Energenie Mi Home range.
              We helped them create a simple user experience that allowed customers to control their homes in sophisticated ways without the complexity of traditional SmartHome apps.</p>
            <p><a href="/case-study/connecting-energenie-smarthome-to-nest-thermostats/">Read the case study</a></p>
          </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="align-center">

                  {% if page.content contains '<!--more-->' %}
                    {{ page.content | split:'<!--more-->' | first | replace: 'global_email', email | markdownify }}
                  {% else %}
                    {{ content | replace: 'global_email', email | markdownify }}
                  {% endif %}

                </div>
            </div>
        </div>
    </div>
</section>




{% include clients.html %}

<section class="section" >
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <p>
        <img src="https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&url=https://pocketworks-website.s3.amazonaws.com/expertise.png" alt="Mobile Apps, Cloud, IoT, Data, Wearables" class="img-responsive" />
      </p>
      </div>
      <div class="col-md-8 col-sm-8">
        <h2>Learn how to apply modern technologies to solve business problems</h2>
        <p>
        We understand what it takes to take your ideas and turn them into a successful venture that will help you grow your business.
        In just 4 years we've launched over a dozen successful products that have facilitated over £44M in revenue and cost savings to our clients.
        Each of our products starts with an idea. We then follow a series of steps to safely grow that idea into a successful product, applying best-fit modern technologies.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="coll-md-8 col-sm-8 col-md-offset-4">
        <p>

          <a href="/contact" class="btn btn-border">Start your project</a>
        </p>
      </div>
    </div>
  </div>
</section>

<section class="section bg-white" >
    <div class="container">
        <div class="row">


        <div class="col-md-4">
          <blockquote>There are so many emerging technologies that a company could be using for digital transformation.
            We're here to help our clients marry ideas with technology. To help them create something unique and compelling that will change their industry.</blockquote>
          <p>Tobin Harris<br/>Founder &amp; CTO, Pocketworks</p>
        </div>

        {% assign post = site.posts | where:"url", "/case-study/reducing-queues-at-hotel-reception-desks/"  | first %}
        {% assign post.cols = 6 %}
        {% include grid-card.html item=post %}

        {% assign post = site.posts | where:"url", "/case-study/helping-dental-students-learn-on-the-move/"  | first %}
        {% assign post.cols = 5 %}
        {% include grid-card.html item=post %}



        </div>
      </div>
</section>

<section class="section">
    <div class="container">
      <div class="row pad-bot20">
        <div class="col-md-8 col-md-offset-2 align-center">
          <h2>The four stages of taking your idea to market</h2>
        </div>
      </div>
        <div class="row">


          <div class="col-md-3 align-center">
            <h3>Appraise <br/><small>your idea</small></h3>
            <p>The first step to developing a great product is to appraise the idea to reveal any potential issues and establish the investment required. This forms the basis of a successful outcome. </p>

          </div>
          <div class="col-md-3 align-center">
            <h3>Discover <br/><small>your best options</small></h3>
            <p>The most successful products are achieved through research &amp; exploration. Using proven techniques, you're ideas and goals can evolve into a confident solution design. </p>
          </div>
          <div class="col-md-3 align-center">
            <h3>Deliver <br/><small>your product to market</small></h3>
            <p>To get to market quickly it's important to identify what brings most value to your audience, and deliver that quickly. Combine mobile, cloud and IoT to launch something compelling. </p>
          </div>
          <div class="col-md-3 align-center">
            <h3>Learn<br/><small>from your audience</small></h3>
            <p>After launching your product it's time to learn from your customers and then feed those insights back into your product. Amongst other things, analytics and user testing will fuel the learning process.</p>
          </div>

        </div>
      </div>
      <div class="row">
        <div class="coll-md-12 align-center">
          <p>
            <br/>
            <a href="/contact" class="btn btn-border">Start your project</a>
          </p>
        </div>
      </div>
</section>

<!-- include grid-section.html view_all="true" top_padding="true" bg_white="true" -->



<section class="section bg-white" >
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="align-center">
            <p class="lead">{{ page.quote.blurb }}<br/><small>{{ page.quote.author }}</small></p>
        </div>
    </div>
    </div>
  </div>
</section>


<section class="section bg-black pad-top0 hidden" style="height: 500px; background-image: url(https://pocketworks-website.s3.amazonaws.com/{{ page.advice.bg-img }}); background-position: 0%; background-size: 100%; background-repeat: no-repeat">
  <div class="container">
    <div class="row">
      <div class='col-xs-12 col-sm-6 col-sm-offset-6 card' style="min-height:300px">
        <div class="col-xs-12 surround" style="min-height:320px">
          <div class="row content">
            <br/>
            <h3>{{ page.advice.header }}</h3>
            <h2><a href="{{ page.advice.url | prepend: site.baseurl }}">{{ page.advice.sub-header }}</a></h2>
            <p>{{ page.advice.desc }}</p>

            <a href="{{ page.advice.url | prepend: site.baseurl }}" class="btn btn-border">{{ page.advice.link-text }}</a>
            <br/><br/>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<!-- pocket insights section -->
<section id="" class="section clearfix">
<div class="container">
  <div class="row mar-bot40">

    {% if page.content contains '<!--more-->' %}
      {{ page.content | split:'<!--more-->' | last | replace: 'global_email', email | markdownify }}
    {% else %}
      {{ content | replace: 'global_email', email | markdownify }}
    {% endif %}

  </div>
</div>
</section>
